@use 'variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $text-color;
  background-color: $background-color;
}

// Add your global styles here

